{% extends 'admin_layout.html.twig' %}

{% block title %}New Visiteur{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau visiteur</h1>

    {{ include('admin/visiteur/_form.html.twig') }}

    <a href="{{ path('admin_visiteur_index') }}"><i class="fa fa-undo"></i> Retour à la liste</a>
{% endblock %}
