<footer class="footer-form-check-in">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h4> MAP </h4>
            <p>Vous accueille dans ses superbes locaux !</p>
        </div>
        <div class="col-4 text-center">
            <a href={{ path('home_index') }} class="btn btn-secondary btn-lg mt-3">{{ "accueil.return"|trans }}</a>
        </div>
        <div class="col-4 text-center">
            <h4>En cas d'urgence</h4>
            <p>Merci de contacter<br/>
            0102030405</p>
        </div>
    </div>
</div>