<footer class="footer-form-check-in">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h3> MAP </h3>
            <p>Vous accueille dans ses superbes locaux !</p>
        </div>
        <div class="col-4 text-center">
            <a href={{ path('home_index') }} class="btn btn-secondary btn-lg">{{ "accueil.return"|trans }}</a>
        </div>
        <div class="col-4 text-center">
            <h3>En cas d'urgence</h3>
            <p>Merci de contacter</p>
            <p>Pierre-Alexandre Gualtieri</p>
            <p>0102030405</p>
        </div>
    </div>
</div>