// CSS de la page categorie

#vue2 {

    //background: url('../../public/uploads/background-categorie.jpg') no-repeat center bottom; 
    width: 100%;
    height: calc( 100vh - 40px);
    padding: 0;
    background-size: cover;

}

#h1categorie {
    margin-bottom: 10vh;
}

.card {
    height: 31vh;
    width: 18rem;
    background-color: #f6f6f6;
}

.card:hover {
    border: 3px solid #67adaf;
}

// Image technicien
#technique {
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
}

// Image administrative
#affaire {
    width: 257px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.para-categorie {
    text-align: center;
    font-size: 25px;
}

.background-categorie {
    background-color: #7dced1;
    height: 21vh;
    margin-top: 27.3vh;
}

.imgcat:hover {
    text-decoration: none;
}