{% extends 'base.html.twig' %}

{% block title %}New Visiteur{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau visiteur</h1>

    {{ include('visiteur/_form.html.twig') }}

    <a href="{{ path('visiteur_index') }}"><i class="fa fa-undo"></i> Retour à la liste</a>
{% endblock %}
