{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block page_content %}
    <h1>Merci de remplir les champs nécessaires à l'inscription</h1>
    
    <div class="container">
        
        
            <div class="row">
                <div class="col-8">
                    {{form_start(form)}}
                    {{ include('visiteur/_form.html.twig') }} 
                    {{form_end(form)}}   
                </div>
                <div class="col-4">
                    
                </div>
            </div>
        
        
    </div>
    <a href="{{ path('visiteur_index') }}">Retour à l'écran d'accueil</a>
{% endblock %}