{% extends 'base.html.twig' %}

{% block title %}Edit LieuVisite{% endblock %}

{% block body %}
    <h1>Edit LieuVisite</h1>

    {{ include('admin_lieu_visite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_lieu_visite_index') }}">back to list</a>

    {{ include('admin_lieu_visite/_delete_form.html.twig') }}
{% endblock %}
