{% extends 'layout.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/front.css') }}">
{% endblock %}


{% block page_content %}
<h1 class="mt-3 text-center" id="h1categorie">Choisissez la raison de votre visite</h1>
<div class="container mt-3">
    <div class="row justify-content-around">
        <div class="col-4">
            <a href= "{{ path ('securite_index') }}"><div class="card">
                <img class="card-img-top" src="/uploads/technician1.png" id="technique" alt="Card image cap">
                <p class="para-categorie">Technique</p>
            </div></a>
        </div>
        <div class="col-4">
            <a  href= "#"><div class="card">
                <img class="card-img-top" src="/uploads/pro.jpg" id="affaire" alt="Card image cap">
                <p class="para-categorie">Administrative</p>
            </div></a>
        </div>
    </div>
</div>





{% endblock page_content %}
 

{% block javascripts %}
{% endblock %}