{% extends 'admin/admin_layout.html.twig' %}

{% block page_content %}
<form method="post" action="{{ path('admin_motif_visite_delete', {'id': motif_visite.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression {{ motif_visite.nom }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motif_visite.id) }}">
    <button class="btn">Supprimer</button>
</form>

{% endblock %}
