{% extends 'admin/admin_layout.html.twig' %}

{% block title %}Modifier le motif de visite{% endblock %}

{% block page_content %}
    <h1>Modifier le motif de visite suivant: {{ motif_visite.nom }} </h1>

    {{ include('admin/motif_visite/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('admin_motif_visite_index') }}">Retour à la liste des motifs de visite</a>
{% endblock %}
