{% extends 'base.html.twig' %}

{% block title %}New LieuVisite{% endblock %}

{% block body %}
    <h1>Create new LieuVisite</h1>

    {{ include('lieu_visite/_form.html.twig') }}

    <a href="{{ path('lieu_visite_index') }}">back to list</a>
{% endblock %}
